* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Abril Fatface', cursive;
}

.wrapper {
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    padding: 20px;
}

h1 {
    text-align: center;
}

.number {
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 20px 0;
}

button {
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 30px;
    background: none;
    border: 1px solid;
    margin: 13px;
    transition: all .3s ease;
}

.decrease {
    color: red;
}
.decrease:hover {
    color: #fff;
    background-color: red;
}

.reset:hover {
    color: #fff;
    background-color: #000;
}

.increase {
    color: green;
}
.increase:hover {
    color: #fff;
    background-color: green;
}